.facebook-style {
    background-image: url(../assets/images/icons/facebook-bg.webp);
}
.dribbble-style {
    background-image: url(../assets/images/icons/dribble.webp);
}
.youtube-style {
    background-image: url(../assets/images/icons/youtobe-bg.webp);
}
.twitter-style {
    background-image: url(../assets/images/icons/twittre.webp);
}
